.dashboard {
  height: 100vh;
  background: #0f172a;
  color: #e5e7eb;
  padding: 40px;
}

.dashboard-card {
  background: #111827;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
}

.dashboard button {
  margin-top: 20px;
  padding: 12px 20px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
