body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
}

input, button {
  padding: 10px;
  margin: 6px 0;
  width: 100%;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background: #020617;
  padding: 20px;
  border-radius: 8px;
}
